<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="processForm()">
      <div>
        <label for="description" class="form-label">Description: </label>
        <input type="text" class="form-control" name="description" formControlName = "description">
      </div>
        <label for="priority" class="form-label">Priority: </label>
        <br>
        <input type="radio" name="priority" value="low" formControlName="priority">Low
        <input type="radio" name="priority" value="med" formControlName="priority">Med
        <input type="radio" name="priority" value="high" formControlName="priority">High
      <div>
        <label for="due" class="form-label">Due: </label>
        <br>
        <input type="date" name="due" formControlName="due" min="{{this.minDate}}">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>

  <h2>List of Todos</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Due</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todoList">
        <td>{{ todo.description }}</td>
        <td>{{ todo.due }}</td>
        <td>{{ todo.priority | titlecase }}</td>
      </tr>
    </tbody>
  </table>
</div>
